
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .chat-history {
    width: 100%;
    height: 80%;
    background-color: #fff;
    overflow-y: scroll; /* Sørg for, at der kan rulles */
    display: flex;
    flex-direction: column-reverse; /* Dette sikrer, at den nyeste besked er nederst */
    padding: 10px;
 }


 .message.sent {
    background-color: #4286f4; /* Grøn baggrund for brugerens beskeder */
    color: rgb(255, 255, 255);
    align-self: flex-end; /* Beskeder fra brugeren justeres til højre */
    margin-right: 20px;
 }

 .message.received {
    background-color: #e0e0e0; /* Lys grå baggrund for modtagne beskeder */
    color: black;
    align-self: flex-start; /* Beskeder fra modtageren justeres til venstre */
 }

 .message {
    background-color: #f1f0f0;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
 }


  .sent {
    background-color: #4286f4;
    color: white;
    align-self: flex-end;
 }

 .wrapper {
    display: flex;
    justify-content: center; /* Centrerer dem horisontalt */
    align-items: center; /* Centrerer dem vertikalt */
    height: 100vh; /* Sørger for, at de fylder hele skærmen */
    gap: 20px; /* Afstand mellem dem */
  }
  
  .container, .container2 {
    width: 70%; /* De skal fylde 40% af skærmens bredde */
    position: relative; /* Fjerner absolute positioning */
    transform: none; /* Fjerner transform, da den ikke længere er nødvendig */
  }
  
  
  .chatbox {
    margin: 0 auto;
    width: 50%;
    height: 75vh;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 249px -48px rgba(0, 0, 0, 0.75);
    transition: all 300ms ease-in-out;
  }
  
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #4286f4;
  }
  
  .positioning-container-bar {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    height: 100%;
  }
  
  .status {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 7.5px;
    height: 7.5px;
    background-color: lightgreen;
    border-radius: 50%;
    animation: statuschange 20s infinite;
    transition: all 300ms ease-in-out;
  }
  
  @keyframes statuschange {
    0% {background-color: lightgreen;}
    50% {background-color: red;}
    100% {background-color: gray;}
  }
  
  .name {
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: 15px;
    transition: all 300ms ease-in-out;
  }
  
  .icon-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  
  .icon {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
  }
  
  .icon i {
    color: #fff;
    font-size: 16px;
    transition: all 300ms ease-in-out;
  }
  
  .chat-input {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    height: 7.5%;
    background-color: #fff;
    text-align: center;
    transition: all 300ms ease-in-out;
  }
  
  .positioning-container-chat {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    height: 100%;
  }
  
  .chat-input input {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    color: #000;
    font-size: 16px;
    transition: all 300ms ease-in-out;
  }
  
  .chat-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.5%;
    background-color: #fff;
    transition: all 300ms ease-in-out;
  }
  
  .positioning-container-chat-actions {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    height: 100%;
  }
  
  .actions {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .action {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .action i {
    color: rgb(0, 0, 0, 0.5);
    font-size: 24px;
    transition: all 300ms ease-in-out;
  }
  
  @media only screen and (max-width: 1100px) {
      .name, .icon i {
        font-size: 14px;
      }
  
      .chat-input input {
        font-size: 14px;
      }
  
      .action i {
        font-size: 22px;
      }
  }
  
  @media only screen and (max-height: 525px) {
      .name, .icon i {
        font-size: 14px;
      }
  
      .chat-input input {
        font-size: 14px;
      }
  
      .action i {
        font-size: 22px;
      }
  
      .chat-history {
        height: 75%;
      }
  
      .chat-input, .chat-actions {
        height: 12.5%;
      }
  }
  
  @media only screen and (max-width: 950px) {
    .chatbox {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .status {
      width: 5px;
      height: 5px;
    }
  
    .name, .icon i {
      font-size: 10px;
    }
  
    .name {
      margin-left: 10px;
    }
  }
